{% extends 'partials/base.html' %}
{%load static %}
{% block title %}Entry Form{% endblock %}
{% load crispy_forms_tags %}
{% block content  %}
<link rel="stylesheet" href="{%static 'css/restyle.css'%}">
<body id="bg" style="background-image: url('{% static 'image/pawel.jpg'%}');"></body>
<style>
    .container{
        margin-top: 0ch;
    }
</style>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ key|crispy}}
                        <input class="btn btn-info" type="submit" value="Make Prediction">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}