{% extends 'partials/base.html' %}
{% load static%}
{% block content  %}

<link rel="stylesheet" href="{% static 'css/mystyle.css '%}">
<body id="bg" style="background-image: url('{% static 'image/testh.jpg'%}');">


<h3 class="heading-1">KEEP CALM AND ASK ABOUT DIABETES</h1>
<h2 class="heading-2">DIABETES IS NOT THE END OF JOY, CURE IT AND ENJOY LIKE A SMALL BOY !</h1>

<div class="container custom-bg">
    <p class="para">Diabetes awareness is like a delicate bloom in the garden of health. It empowers us to prevent its onset, detect it early, and manage it effectively.
        This knowledge is the brushstroke that paints a more vibrant and healthier life canvas.</p>
</div>

<section>
<div class ="container ">
    <h4 class="heading-3">LET'S START A DIABETES PREDICTION 
        <br>
    <br>
        <form action="{%url 'form' %}">
            <input class="button" type="submit" value="Try it Yourself &raquo;">
        </form>
        
    </h4>
</div>

  </section>
  
  </body>
{% endblock %}