.heading-1{
    text-align: center;
    margin-top: 4%;
    color: #f5f5fa;
    
  }
  .heading-2{
    text-align: center;
    margin-top: 2%;
    color: #f3f6f2;
  
  }
  .button {
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: medium;
  }
  .button:hover{
    background: #9fd9e7;
  }
  .custom-bg{
    border-radius: 12px;
    background: #174651;
    margin-top: 40px;
    padding: 15px;
  
  }
  .para{
    font-weight: 600px;
    font-size: medium;
    text-align: center;
    color: #f1efef;
    
  }
  .enter{
    color: aquamarine;
    margin-top: 10px;
    border-radius: 20px;
    padding: 2px;
  }