.heading-1{
    text-align: center;
    margin-top: 5%;
    color: #fff;
    
  }
  .heading-2{
    text-align: center;
    margin-top: 2%;
    color: #fff;
  
  }
  .heading-3{
    text-align: center;
    margin-top: 2%;
    color: #fff;
  }
  .button {
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: medium;
  }
  .button:hover{
    background: #9fd9e7;
  }
  .container{
    margin-top: 6%;
  }
  .custom-bg{
    border-radius: 12px;
    background: #f7fbf6;
    margin-top: 40px;
    padding: 15px;
  
  }
  .para{
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color:#1f90d6;

    
  }
  .enter{
    color: aquamarine;
    margin-top: 10px;
    border-radius: 20px;
    padding: 2px;
  }