/* about start  */
.custom-bg{
    text-align: justify;
    font-size: large;
    font-style: normal;
    margin-top: 40px;
    padding: 10px;
}
.para{
    font-weight: bold;
    color: #0f1514;
}

/* end about  */


/* result start */

